/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
}
  
  /* Style the links inside the navigation bar */
.topnav a,img {
  float: right;
  color: #0e0d0d;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;

}
.topnav a {
  margin-top: 34px;

}
  /* Change the color of links on hover */
.topnav a:hover {
  color: rgb(240, 210, 40);
}
#navbarleft{
  float: left;
}
  /* Add a color to the active/current link */
.topnav a.active {
  color: rgb(240, 210, 40);
}

.featurescolumn {
  float: left;
  width: 33.33%;
}
  
  /* Clear floats after the columns */
.featuresrow:after {
  content: "";
  display: table;
  clear: both;
}
.github-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(240, 210, 40);
  text-align: center;
  vertical-align: top;
  background-color: #e0090900;
  font-size: 14px;
  letter-spacing: 0.16px;
  min-height: 48px;
  line-height: 1.29;
  color: #000000;
  font-weight: 400;
  transition: background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);
  border-radius: 12px;
  
}
.github-button:hover {
  background-color: rgb(240, 210, 40);
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.footer{


  background-color: rgb(212, 206, 206);
}
