/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    color: rgb(240, 210, 40);
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0e0d0d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav b {
    float: right;
    color: #0e0d0d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  .topnav a,b:hover {
    color: rgb(240, 210, 40);
  }
  
  /* Add a color to the active/current link */
  .topnav a,b.active {
    background-color: #04AA6D;
    color: white;
  }