/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
}
  
  /* Style the links inside the navigation bar */
.topnav a,img {
  float: right;
  color: #0e0d0d;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;

}
.topnav a {
  margin-top: 34px;

}
  /* Change the color of links on hover */
.topnav a:hover {
  color: rgb(240, 210, 40);
}
#navbarleft{
  float: left;
}
  /* Add a color to the active/current link */
.topnav a.active {
  color: rgb(240, 210, 40);
}

.featurescolumn {
  float: left;
  width: 33.33%;
}
  
  /* Clear floats after the columns */
.featuresrow:after {
  content: "";
  display: table;
  clear: both;
}
.github-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(240, 210, 40);
  text-align: center;
  vertical-align: top;
  background-color: #00000000;
  font-size: 14px;
  letter-spacing: 0.16px;
  min-height: 48px;
  line-height: 1.29;
  color: #000000;
  font-weight: 400;
  transition: background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);
  
}
.github-button:hover {
  background-color: rgb(240, 210, 40);
  color: rgb(0, 0, 0);
}

.btn {
  font-weight: bold;
  font-size: 2rem;
  background-color: transparent;
  border: solid 3px;
  padding: 30px;
  margin: 10px 10px;
  display: inline-flex;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.btn i, .btn span {
  width: 100%;
  display: block;
  padding: 0.7rem;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  text-transform: uppercase;
}
.btn i {
  margin-left: -100%;
  transition: margin-left 300ms ease-in-out;
}
.btn:hover i {
  margin-left: 0;
}
.btn.info {
  color: #1489ff;
  border-color: #1489ff;
}
.btn.info:hover {
  color: #ffffff;
  background-color: #1489ff;
}
.btn.info:focus {
  box-shadow: 0 0 0 0.3rem rgba(20, 137, 255, 0.7);
}
.btn.success {
  color: #00ce0d;
  border-color: #00ce0d;
}
.btn.success:hover {
  color: #ffffff;
  background-color: #00ce0d;
}
.btn.success:focus {
  box-shadow: 0 0 0 0.3rem rgba(0, 206, 13, 0.7);
}
.btn.warning {
  color:  #fd9d08;
  border-color:  #fd9d08;
}
.btn.warning:hover {
  color: #ffffff;
  background-color:#fd9d08;
}
.btn.warning:focus {
  box-shadow: 0 0 0 0.3rem rgba(241, 218, 25, 0.7);
}
.btn.danger {
  color: #ff2323;
  border-color: #ff2323;
}
.btn.danger:hover {
  color: #ffffff;
  background-color: #ff2323;
}
.btn.danger:focus {
  box-shadow: 0 0 0 0.3rem rgba(255, 35, 35, 0.7);
}
body {
  padding-top: 15%;
  margin: 0 auto;
  text-align: center;
  background: #ececec;
}
